<!DOCTYPE html>
<!--

-->
<html>
    <head>
        <title>VistaDental</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
        <footer th:fragment="footer" style="text-align: center; background-color: black">
                <a  th:href="@{/(lang=es)}" 
                    style="text-decoration: none; color:white; background-color: black"> 
                    ES </a> | 
                <a  th:href="@{/(lang=en)}" 
                    style="text-decoration: none; color:white; background-color: black"> 
                    EN </a>
        </footer>
    </body>
</html>
