* {
    background-color: #4A5159;
    margin: 0 0 0 0;
    font-family: Arial;
}

.h1 {
    color:#730237;
    font-size: 50px;
    text-align: left;
    font-style: italic;
}

.section {
    margin-top: 40px;
}

.h2 {
    text-align: center;
    font-style: italic;
    color: #730237;
}

.table {
    margin-top: 20px;
    border-color: #4A5159;
    margin-left: auto;
    margin-right: auto;

}

.td {

    border-right: 10px;
    border-style: ridge;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: white;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 35px;
    background-color: black;
    width: 275px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    color: #730237;
}

.a:hover {
    background-color: gray;
    transition: 0.5s;;
}

