<!DOCTYPE html>

<html>
    <head>
        <title>VistaDental</title>
        <meta charset="UTF-8">
        <link href="/css/nuevoUsuario.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav>
            <h1 class="h1"> Registro de <br/> Usuario </h1>
        </nav>
        <section>
            <form class="form" th:action="@{/cliente/guardar}"  method="post" th:object="${cliente}">
                <input class="input" type="text" name="Nombre" placeholder="Nombre" th:field="*{nombre}" required="true">
                <br/>
                <input class="input" type="text" name="primApellido" placeholder="Primer Apellido" th:field="*{primerApellido}" required="true">
                <br/>
                <input class="input" type="text" name="segApellido" placeholder="Segundo Apellido" th:field="*{segundoApellido}" required="true">
                <br/>
                <input class="input" type="text" name="Usuario" placeholder="Usuario" th:field="*{usuario}" required="true">
                <br/>
                <input class="input" type="text" name="Contra" placeholder="Contraseña" th:field="*{contra}" required="true">
                <br/>
                <input class="input" type="email" name="Correo" placeholder="Correo" th:field="*{correo}" required="true">
                <br/>
                <input class="input" type="tel" name="Tel" placeholder="Teléfono" th:field="*{telefono}" required="true">
                <br/>

                <input class="subir" type="submit" name="Subir">
               
            </form>  
        </section>

    </body>
</html>
